apiVersion: v2
type: application
name: opentelemetry-demo
version: 0.11.1
description: opentelemetry demo helm chart
home: https://opentelemetry.io/
sources:
  - https://github.com/ty-elastic/opentelemetry-helm-charts
maintainers:
  - name: dmitryax
  - name: puckpuck
  - name: tylerhelmuth
icon: https://opentelemetry.io/img/logos/opentelemetry-logo-nav.png
appVersion: "1.0.0"
dependencies:
  - name: opentelemetry-collector
    version: 0.38.0
    repository: https://ty-elastic.github.io/opentelemetry-helm-charts
    condition: observability.otelcol.enabled