apiVersion: v2
type: application
name: elastic-opentelemetry-demo
version: 0.9.8
description: opentelemetry demo helm chart
home: https://opentelemetry.io/
sources:
  - https://github.com/ty-elastic/opentelemetry-helm-charts
maintainers:
  - name: dmitryax
  - name: tylerhelmuth
  - name: wph95
icon: https://opentelemetry.io/img/logos/opentelemetry-logo-nav.png
appVersion: "0.6.1-beta"
dependencies:
  - name: opentelemetry-collector
    version: 0.37.1
    repository: https://ty-elastic.github.io/opentelemetry-helm-charts
    condition: observability.otelcol.enabled
