apiVersion: v2
type: application
name: opentelemetry-demo
version: 0.12.3
description: opentelemetry demo helm chart
home: https://opentelemetry.io/
sources:
  - https://github.com/ty-elastic/opentelemetry-helm-charts
maintainers:
  - name: dmitryax
  - name: puckpuck
  - name: tylerhelmuth
icon: https://opentelemetry.io/img/logos/opentelemetry-logo-nav.png
appVersion: "1.1.0"
dependencies:
  - name: opentelemetry-collector
    version: 0.39.2
    repository: https://ty-elastic.github.io/opentelemetry-helm-charts
    #repository: http://127.0.0.1:8080
    condition: observability.otelcol.enabled
  - name: prometheus
    version: 15.16.1
    repository: https://prometheus-community.github.io/helm-charts
    condition: observability.prometheus.enabled
  - name: grafana
    version: 6.42.2
    repository: https://grafana.github.io/helm-charts
    condition: observability.grafana.enabled
