name: Release Collector Charts

on:
  push:
    branches:
      - ty-elastic/elastic

jobs:
  collector-release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3.3
        with:
          version: v3.4.1

      - name: Remove File
        uses: JesseTG/rm@v1.0.3
        with:
          path: charts/opentelemetry-demo

      - name: Remove File
        uses: JesseTG/rm@v1.0.3
        with:
          path: charts/opentelemetry-operator

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.4.1
        with:
          charts_dir: charts
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"