name: Release Demo Charts

on:
  push:
    branches:
      - ty-elastic/elastic

jobs:
  demo-release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3.3
        with:
          version: v3.4.1

      - name: Add dependent repositories
        run: |
          helm repo add open-telemetry https://ty-elastic.github.io/opentelemetry-helm-charts

      - name: Remove File
        uses: JesseTG/rm@v1.0.3
        with:
          path: charts/opentelemetry-collector

      - name: Remove File
        uses: JesseTG/rm@v1.0.3
        with:
          path: charts/opentelemetry-operator

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.5.0
        with:
          charts_dir: charts
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
